#header {
  display: flex;
  margin-left: 122px;
}

.header-piece {
  align-self: center;
  color: orange;
}

.app-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin-left: 200px;
}

#description {
  margin-top: 75px;
}

#payment {
  width: 600px;
}

.related-items {
  margin-left: 220px;
}

.footer {
  margin-left: 220px;
}

#footer {
  display: flex;
  margin-left: 220px;
}

.footer-piece {
  align-self: center;
  color: orange;
}